.users_col_username {
	width: 200px;
}

.users_col_fullname {
	width: 250px;
}

.users_col_email {
	width: 200px;
}

.users_col_company {
	//width: 200px;
}

.users_col_role {
	width: 50px;
}

.users_col_actions {
	width: 50px;
}
