// Style for Details Information

// Global config
@import "../config";

// Layout config
@import "../global/layout/config.scss";

// Variables
$rw-detail-step-border: #eeeef4;

.rw-detail{
	//background-color: $kt-wizard-v2-nav-bg;
	width: 100%;

	@include kt-minimal-desktop-and-below{
		width: 100%;
	}

	@include kt-mobile{
		padding: 2rem 2.5rem 4rem;
	}

	.rw-detail__header{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		padding: 0;
		margin-bottom: 1.75rem;
		border-bottom: 1px solid $rw-detail-step-border;

		.rw-detail__header-title{
			display: flex;
			align-items: center;
			font-size: 1.3rem;
    	font-weight: 500;
    	color: kt-get($kt-font-color, text);
		}

		.rw-detail__header-toolbar{
			display: flex;
			align-items: center;
			margin-right: 10rem;

			.rw-detail__header-state{
				padding-right: 2rem;
			}
		}
	}

	.rw-detail__section{
		padding-bottom: 1.3rem;
		border-bottom: 1px solid #eeeef4;
		margin-bottom: 2rem;

		.rw-detail__item{
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 1px solid $rw-detail-step-border;

			.rw-detail__title{
				font-weight: 600;
				font-size: 1.1rem;
				margin-bottom: 0.7rem;
			}

			.rw-detail__content{
				line-height: 1.8rem;
				font-size: 1.0rem;
			}

			&:last-child{
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}
