<kt-portlet>
	<kt-portlet-header title="Produkte als Karten"></kt-portlet-header>

	<kt-portlet-body>
	<!-- start::FILTERS -->
		<div class="kt-section">
			<span class="kt-section__info">Produkte filtern</span>
			<div class="kt-form__filtration kt-margin-b-4">
				<mat-form-field class="col-lg-4">
					<mat-select matFilterGruppeInput placeholder="Gruppe" [formControl]="filterCategoryControl">
						<mat-option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>

		<!-- PRODUCTS -->
		<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="132px" fxLayoutAlign="flex-start">
			<ng-container *ngFor="let product of products">
				<mat-card fxFlex="0 1 calc(33.3% - 132px)" fxFlex.lt-md="0 1 calc(50% - 132px)" fxFlex.lt-sm="100%" background="beige" [routerLink]="['/products', product.id]">
					<mat-card-header>
						<mat-card-title>{{ product.title }}</mat-card-title>
						<mat-card-subtitle align="right">{{ product.price | currency }}</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="img" src="{{ product.picture }}" >
					<mat-card-content>
						<div>
							<p>{{ product.category }}</p>
							<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button disabled>Löschen</button>
						<button mat-raised-button align="right"onClick="alert('Bestellen');">Bestellen</button>
					</mat-card-actions>
				</mat-card>
			</ng-container>
		</div>
	</kt-portlet-body>
</kt-portlet>

<!--<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <div fxLayout="row wrap">
    <!-- loop over the cardList and show the cards -->
<!--    <div
      *ngFor="let category of categories"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
<!--      <mat-card class="mat-elevation-z1">
        <img mat-card-image src="{{ category.img }}" />
        <mat-card-title> {{ category.title }} </mat-card-title>
        <mat-card-content> {{ category.description }} </mat-card-content>
        <mat-card-footer>
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
-->
