//
// Override global variables
//

// Theme colors
$primary:       									#8950FC;
$primary-hover:    									#7337EE; // Custom variable
$primary-light:    									#EEE5FF; // Custom variable
$primary-inverse:  									#FFFFFF; // Custom variable

$info:       									    #6993FF;
$info-hover:    									#4A7DFF;  // Custom variable
$info-light:    									#E1E9FF;  // Custom variable
$info-inverse:  									#FFFFFF;  // Custom variable
