<kt-portlet>
	<kt-portlet-header title="Impressum">
	</kt-portlet-header>

	<!-- Filter -->
	<kt-portlet-body>
		<div class="kt-section">
			<p>Für den Inhalt dieser Website verantwortlich:<br/>
				Firmenname: rewood<br/>
				Firmenbuchnummer: <br/>
				Firmenbuchgericht: <br/>
				UID ATU: <br/>
				<br/>
				Geschäftsleitung: <br/>
				Unternehmensgegenstand: xxx
			</p>

			<p>
				Standort:<br/>
				A-xxxx yyyy<br/>
				Mustergasse 3<br/>
				TEL +39 471 704017<br/>
				FAX <br/>
				eMail office@rewood.at
			</p>

			<p>Die Bekanntgabe der E-Mail Adresse ist keine Zustimmung zum Erhalt unaufgeforderter E-Mails laut TKG § 101.</p>

			<p>
				Datenschutz:<br/>
				Bitte beachten Sie unsere Datenschutzerklärung (Link)
			</p>

			<p>
				Haftung:<br/>
				Sämtliche Texte auf dieser Website wurden sorgfältig geprüft. Dessen ungeachtet kann keine Garantie für die Aktualität, Vollständigkeit und Richtigkeit der Angaben übernommen werden.
				Eine Haftung der Friedrich Seier GmbH wird daher ausgeschlossen.
			</p>

			<p>
				Links:<br/>
				Links zu anderen Websites werden nach Möglichkeit von uns auf ihren vertrauenswürdigen Inhalt kontrolliert, wir können aber den Zugriff auf diese Seiten weder garantieren, noch haben wir Einfluss auf deren Inhalte. Wir distanzieren uns ausdrücklich von eventuell rechtswidrigen Inhalten der verlinkten Seiten.
			</p>

			<p>
				Erstellung:<br/>
				Schlager IT-Dienstleistungen (LINK)<br/>
				Theme: Keenthemes (Link)
			</p>

		</div>
	</kt-portlet-body>
</kt-portlet>
