<kt-portlet>
	<!--<kt-portlet-header title="Produktdetails zu {{ product.title }}"></kt-portlet-header>-->

	<kt-portlet-body>
		<div class="kt-section">
			<div class="kt-section__title">
				{{ product.title }}, Preis: {{ product.price | currency }}
			</div>
			<div class="kt-section__content">
				<h4 mat-line>Kategorie</h4>
				<p mat-line>{{ product.category }}  {{ product.subcategory }}</p>
			</div>
			<div class="kt-section__content">
				<h4 mat-line>Beschreibung</h4>
				<p mat-line>{{ product.description }}</p>
			</div>
			<div class="kt-section__content">
				<h4 mat-line>Status</h4>
				<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
				<p mat-line></p>
			</div>
			<div class="kt-section__content">
				<h4 mat-line>Bilder</h4>
				<div class="ui small images" *ngIf="product.picture">
					<img [src]="product.picture">
				</div>
			</div>
			<!--<div class="ui small images">
				<img *ngFor="let thumbnail of book.thumbnails" [src]="thumbnail.url">
			</div>-->
			<!--<div class="kt-section__sub">
				<p>{{ product.title }}</p>
			</div>-->
		</div>

<!--		<div class="ui grid">
				<div class="four wide column">
						<h4>Autoren</h4>
						<ng-container *ngFor="let author of book.authors">
								{{ author }}<br>
						</ng-container>
				</div>
				<div class="four wide column">
						<h4>ISBN</h4>
						{{ book.isbn | isbn }}
				</div>
				<div class="four wide column">
						<h4>Erscheinen</h4>
						{{ book.published }}
				</div>
				<div class="four wide column">
						<h4>Rating</h4>
						<ng-container *ngFor="let r of getRating(book.rating); index as i">
								<i class="yellow star icon" *bmDelay="500 + i * 200"></i>
						</ng-container>
				</div>
		</div>-->
	</kt-portlet-body>
</kt-portlet>

<!--<form class="kt-form">
		<div class="kt-portlet__body">
			<div class="kt-form__section kt-form__section--first">
				<div class="form-group kt-form__group">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Enter full name">
						<mat-hint align="start">Please enter your full name</mat-hint>
					</mat-form-field>
				</div>
				<div class="form-group kt-form__group">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Enter email" type="email">
						<mat-hint align="start">We'll never share your email with anyone else</mat-hint>
					</mat-form-field>
				</div>-->
