<div>
	<ng-container *ngIf="product$ | async as product; else loading">
		<kt-portlet-body>
			<div class="kt-section">
				<div class="kt-section__title">
					{{ product.title }}, Preis: {{ product.price | currency }}
				</div>
				<div class="kt-section__content">
					<h4 mat-line>Kategorie</h4>
					<p mat-line>{{ product.category }}  {{ product.subcategory }}</p>
				</div>
				<div class="kt-section__content">
					<h4 mat-line>Beschreibung</h4>
					<p mat-line>{{ product.description }}</p>
				</div>
				<div class="kt-section__content">
					<h4 mat-line>Status</h4>
					<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
					<p mat-line></p>
				</div>
				<div class="kt-section__content">
					<h4 mat-line>Bilder</h4>
					<div class="ui small images" *ngIf="product.picture">
						<img [src]="product.picture">
					</div>
				</div>
				<!--<div class="ui small images">
					<img *ngFor="let thumbnail of book.thumbnails" [src]="thumbnail.url">
				</div>-->
				<!--<div class="kt-section__sub">
					<p>{{ product.title }}</p>
				</div>-->
			</div>
		</kt-portlet-body>
	</ng-container>

	<ng-template #loading>
		<h1>loading</h1>
	</ng-template>
</div>
