<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
			<div class="kt-grid__item kt-wizard-v2__aside">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v2__nav">
					<div class="kt-wizard-v2__nav-items">
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-globe"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Produktinformationen
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Geben Sie allgemeine Informationen an
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-bus-stop"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Beschreibung
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Beschreiben Sie das Produkt
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-responsive"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Maße
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Geben Sie die Maße an
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-truck"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Produktstandort
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Adresse
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-confetti"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Abschluss
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Zusammenfassung und Bestellung
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!--end: Form Wizard Nav -->

			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form" id="kt_form" [formGroup]="productForm">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">Geben Sie allgemeine Informationen an</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Titel</label><br/>
									<input type="text" class="form-control" formControlName="title">
									<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>
								</div>
								<div class="form-group">
									<label>Kategorie</label>
									<select class="form-control" formControlName="category">
										<option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>Untergruppe</label>
									<input type="text" class="form-control" formControlName="subcategory">
									<span class="form-text text-muted">Bitte geben Sie die Untergruppe an.</span>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Beschreiben Sie das Produkt</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Beschreibung</label>
									<input type="text" class="form-control" formControlName="description">
									<span class="form-text text-muted">Bitte geben Sie eine Beschreibung an.</span>
								</div>
								<div class="form-group">
									<label>Bilder</label><br>
									<button class="flaticon-plus" (click)="addPictureControl()"></button><br>
									<a (click)="addPictureControl()"><i class="flaticon-plus"></i></a>
									<div formArrayName="pictures">
										<div class="fields"
											*ngFor="let p of pictures.controls; index as i"
											[formGroupName]="i">
											<div>
												<input placeholder="URL"
													formControlName="url">
											</div>
											<div>
												<input placeholder="Titel"
													formControlName="title">
											</div>
										</div>
									</div>
									<!--<input type="text" class="form-control" name="picture" [(ngModel)]="product.picture">
									<span class="form-text text-muted">Bitte fügen Sie Produktbilder ein.</span>-->
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Geben Sie die Maße an</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Maße (m)</label>
									<input type="text" class="form-control" formControlName="measure">
									<span class="form-text text-muted">Bitte geben Sie die Maße (LxBxH) in Meter an.</span>
								</div>
								<div class="form-group">
									<label>Menge</label>
									<input type="text" class="form-control" formControlName="amount">
									<span class="form-text text-muted">Bitte geben Sie die Menge an.</span>
								</div>
								<div class="form-group">
									<label>Preis</label>
									<input type="text" class="form-control" formControlName="price">
									<span class="form-text text-muted">Bitte geben Sie den Preis an.</span>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 3-->

					<!--begin: Form Wizard Step 4-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Adresse des Produkts</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Adresszeile 1</label>
									<input type="text" class="form-control" formControlName="address1">
									<span class="form-text text-muted">Bitte geben Sie die Adresszeile 1 an.</span>
								</div>
								<div class="form-group">
									<label>Adresszeile 2</label>
									<input type="text" class="form-control" formControlName="address2">
									<span class="form-text text-muted">Bitte geben Sie die Adresszeile 2 an.</span>
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>PLZ</label>
											<input type="text" class="form-control" formControlName="postcode">
											<span class="form-text text-muted">PLZ</span>
										</div>
									</div>
									<div class="col-xl-9">
										<div class="form-group">
											<label>Ort</label>
											<input type="text" class="form-control" formControlName="city">
											<span class="form-text text-muted">Bitte geben Sie den Ort.</span>
										</div>
									</div>
									<div class="form-group">
										<label>Land</label>
										<select class="form-control" formControlName="country">
											<option *ngFor="let country of countries" value="{{country.code}}">{{country.country}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 4-->

					<!--begin: Form Wizard Step 5-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Zusammenfassung und Bestellung</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__review">
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Produktinformationen
									</div>
									<div class="kt-wizard-v2__review-content">
										Titel: {{ productForm.get('title').value }}<br/>
										Kategorie: {{ productForm.get('category').value }}<br/>
										{{ productForm.get('subcategory').value }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Beschreibung
									</div>
									<div class="kt-wizard-v2__review-content">
										Beschreibung: {{ productForm.get('description').value }}<br/>
										Bilder
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Maße
									</div>
									<div class="kt-wizard-v2__review-content">
										Maße: {{ productForm.get('measure').value }}<br/>
										Menge: {{ productForm.get('amount').value }}<br/>
										Preis: {{ productForm.get('price').value }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Adresse
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ productForm.get('address1').value }}<br/>
										{{ productForm.get('address2').value }}<br/>
										{{ productForm.get('postcode').value }}, {{ productForm.get('city').value }}<br/>
										{{ productForm.get('country').value }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 5-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							Zurück
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Speichern
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							Nächster Schritt
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
