<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
			<div class="kt-grid__item kt-wizard-v2__aside">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v2__nav">
					<div class="kt-wizard-v2__nav-items">
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-globe"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'USER.EDIT.USER_INFO' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'NEW.GENERAL_INFO' | translate }}
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-responsive"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'USER.EDIT.NOTIFICATION' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'USER.EDIT.NOTIFICATION_DESC' | translate }}
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-bus-stop"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'USER.EDIT.ROLES' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'USER.EDIT.ROLES_DESC' | translate }}
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-confetti"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'NEW.FINISH' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'NEW.FINISH_DESC' | translate }}
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form" id="kt_form" [formGroup]="userForm">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">{{ 'NEW.GENERAL_INFO' | translate }}</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>{{ 'USER.USERNAME' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="username" required minlength="6">
									<div *ngIf="username.invalid && (username.dirty || username.touched)"
											class="alert alert-danger">
										<div *ngIf="username.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="username.errors.minlength">
											{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 6
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'USER.FIRSTNAME' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="firstname" required minlength="3">
									<div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
											class="alert alert-danger">
										<div *ngIf="firstname.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="firstname.errors.minlength">
											{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'USER.LASTNAME' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="lastname" required minlength="3">
									<div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
											class="alert alert-danger">
										<div *ngIf="lastname.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="lastname.errors.minlength">
											{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.EMAIL' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="email" required>
									<div *ngIf="email.invalid && (email.dirty || email.touched)"
											class="alert alert-danger">
										<div *ngIf="email.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="email.errors.email">
											{{ 'AUTH.VALIDATION.INVALID_EMAIL' | translate }}
										</div>
										<div *ngIf="email.errors.UserEmailExists">
											{{ 'AUTH.VALIDATION.INVALID_DUPLICATE_EMAIL' | translate }}
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.COMPANY' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="company" required minlength="3">
									<div *ngIf="company.invalid && (company.dirty || company.touched)"
											class="alert alert-danger">
										<div *ngIf="company.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="company.errors.minlength">
											{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.PHONE' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="phone">
									<div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
											class="alert alert-danger">
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<!--<div class="form-group">
									<label>Passwort</label><br/>
									<input type="password" class="form-control" formControlName="password">
									<div *ngIf="password.invalid && (password.dirty || password.touched)"
											class="alert alert-danger">
										<div *ngIf="password.errors.required">
											Es muss ein Passwort eingegeben werden.
										</div>
										<div *ngIf="password.errors.minlength">
											Passwort muss zumindest 3 Zeichen lang sein.
										</div>
									</div>
								</div>-->
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">{{ 'USER.EDIT.NOTIFICATION_DESC' | translate }}</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>{{ 'PRODUCT.CATEGORY' | translate }}</label><br/>
									<div class="kt-wizard-v2__review-content" *ngIf="user">
										<rw-user-notifications-list [(categoryNotificationSubject)]="categoryNotificationSubject"></rw-user-notifications-list>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">{{ 'USER.EDIT.ROLES_DESC' | translate }}</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>{{ 'USER.EDIT.ROLES' | translate }}</label>
									<div class="kt-wizard-v2__review-content" *ngIf="user">
										<rw-user-roles-list [(rolesSubject)]="rolesSubject"></rw-user-roles-list>
									</div>
								</div>
								<div class="form-group">
									<label>{{ 'SUPPLIER.SUPPLIER' | translate }}</label><br/>
									<select class="form-control" formControlName="supplierNumber">
										<option *ngFor="let supplier of allSuppliers" value="{{supplier.supplierNumber}}">{{supplier.name}}</option>
									</select>
									<!--<input type="text" class="form-control" formControlName="supplierNumber">
									<div *ngIf="supplierNumber.invalid && (supplierNumber.dirty || supplierNumber.touched)"
											class="alert alert-danger">
										<div *ngIf="supplierNumber.errors.required">
											Es muss ein Lieferant gewählt werden.
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 3-->

					<!--begin: Form Wizard Step 4-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">{{ 'NEW.FINISH' | translate }}</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__review">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
									{{ formErrorMessage }}
								</kt-alert>

								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										{{ 'USER.EDIT.USER_INFO' | translate }}
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ 'USER.USERNAME' | translate }}: {{ userForm.get('username').value }}<br/>
										{{ 'USER.NAME' | translate }}: {{ userForm.get('firstname').value }} {{ userForm.get('lastname').value }}<br/>
										{{ 'GENERAL.EMAIL' | translate }}: {{ userForm.get('email').value }}<br/>
										{{ 'GENERAL.COMPANY' | translate }}: {{ userForm.get('company').value }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										{{ 'USER.EDIT.NOTIFICATION_DESC' | translate }}
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ getCategoryNotifications() }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										{{ 'USER.EDIT.ROLES' | translate }}
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ getRoleTitles() }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 4-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							{{ 'NEW.BACK' | translate }}
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							{{ 'NEW.SAVE' | translate }}
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							{{ 'NEW.NEXT_STEP' | translate }}
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>

		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
