<!-- start::FILTERS -->
<kt-portlet-body>
	<div class="kt-section">
		<span class="kt-section__info">Produkte filtern</span>
		<div class="kt-form__filtration kt-margin-b-4">
			<mat-form-field class="col-lg-2">
				<mat-select matFilterGruppeInput placeholder="Gruppe" [formControl]="filterCategoryControl">
					<mat-option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="col-lg-2">
				<input matInput (keyup)="filterKeyUp$.next($event.target.value)" placeholder="Filter">
				<mat-hint align="start">
					<strong>Filter in all fields</strong>
				</mat-hint>
			</mat-form-field>
		</div>
	</div>
</kt-portlet-body>
