.supplier_col_supplierNumber {
	width: 50px;
}

.supplier_col_name {
	width: 350px;
}

.supplier_col_location {
	// width: 150px;
}

.supplier_col_email {
	width: 200px;
}

.supplier_col_phone {
	width: 100px;
}

.supplier_col_fsc {
	width: 25px;
}

.supplier_col_pefc {
	width: 25px;
}

.supplier_col_actions {
	align-content: flex-end;
	width: 50px;
}
