.rw-section-exchangerates {
	padding-left: 25px;
	padding-top: 25px;
	/*font-size: larger;
	display: flex;
	align-items: center;
	align-content: flex-end;*/
}

.rw-exchangerate-text {
	margin-bottom: 0rem;
}
