<kt-portlet class="kt-portlet--height-fluid kt-portlet--bordered">
	<div class="rw-section-exchangerates">
		<h5>Währungskurse vom {{ exchangeRatesDate }} (source: <a href="https://www.ecb.europa.eu" target="_blank">European Central Bank</a>)</h5>
	</div>
	<kt-portlet-body class="kt-portlet__body--fit-top kt-portlet__body--fit-bottom">
		<p *ngIf="chf" class="rw-exchangerate-text">USD: {{ usd | number:'1.4-4' }}</p>
		<p *ngIf="chf" class="rw-exchangerate-text">CHF: {{ chf | number:'1.4-4' }}</p>
		<p *ngIf="chf" class="rw-exchangerate-text">CNY: {{ cny | number:'1.4-4' }}</p>
		<p *ngIf="chf">GBP: {{ gbp | number:'1.4-4' }}</p>
	</kt-portlet-body>
</kt-portlet>
