<kt-portlet>
	<kt-portlet-header title="Produkte der Kategorie {{category}}">
	</kt-portlet-header>

	<!-- Filter -->
	<kt-portlet-body>
		<div class="kt-section">
			<span class="kt-section__info">Produkte filtern</span>
			<div class="kt-form__filtration kt-margin-b-4">
				<mat-form-field class="col-lg-2">
					<input matInput (keyup)="filterMeasureKeyUp$.next($event.target.value)" placeholder="Maße">
				</mat-form-field>
				<mat-form-field class="col-lg-2">
					<input matInput (keyup)="filterAmountKeyUp$.next($event.target.value)" placeholder="Menge">
				</mat-form-field>
			</div>
		</div>
	</kt-portlet-body>

	<!-- MATERIAL TABLE -->
	<kt-portlet-body>
		<mat-table #tableProducts [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="picture">
				<mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
				<mat-cell *matCellDef="let product"> <img src="{{product.picture}}" height="80"> </mat-cell>
			</ng-container>

			<ng-container matColumnDef=title>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Titel</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.title}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef=subcategory>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Untergruppe</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.subcategory}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef=measure>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Maße</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.measure}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef=amount>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Menge</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.amount}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef=description>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</mat-header-cell>
				<mat-cell *matCellDef="let product"> {{product.description}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef=status>
				<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
				<mat-cell *matCellDef="let product">
					<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let product; columns: displayedColumns"></mat-row>
		</mat-table>

		<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</kt-portlet-body>
</kt-portlet>
