<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__wrapper">
			<!--<div class="kt-footer__copyright">
				{{today | date:'yyyy'}}&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Keenthemes</a>
			</div>-->
			<div class="kt-footer__contact">
				<a href="/general/contact" class="kt-footer__menu-link kt-link">Contact</a><br/>
				<div class="rw-footer__contact_tel">Tel.: +39 0471 704017</div>
				<a class="rw-footer__contact_mail" href="mailto: office@rewood.at">office@rewood.at</a>
			</div>
			<div class="kt-footer__menu">
				<a href="/general/about" class="kt-footer__menu-link kt-link">About</a>
				<a href="/general/team" class="kt-footer__menu-link kt-link">Team</a>
				<a href="/general/dsgvo" class="kt-footer__menu-link kt-link">DSGVO</a>
			</div>
		</div>
	</div>
</div>
<!-- end:: Footer -->
