<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
			<div class="kt-grid__item kt-wizard-v2__aside">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v2__nav">
					<div class="kt-wizard-v2__nav-items">
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-globe"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'SUPPLIER.EDIT.SUPPLIER_INFO' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'NEW.GENERAL_INFO' | translate }}
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-responsive"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'SUPPLIER.EDIT.LOCATION' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'SUPPLIER.EDIT.LOCATION_DESC' | translate }}
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-confetti"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										{{ 'NEW.FINISH' | translate }}
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										{{ 'NEW.FINISH_DESC' | translate }}
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form" id="kt_form" [formGroup]="supplierForm">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md" *ngIf="supplier && supplier.supplierNumber!=0; else supplierNumberDoesntExist">
							{{ 'SUPPLIER.EDIT.SUPPLIER_NR' | translate }}.: {{supplier.supplierNumber}}
						</div>
						<ng-template #supplierNumberDoesntExist>
							<div class="kt-heading kt-heading--md">{{ 'NEW.GENERAL_INFO' | translate }}</div>
						</ng-template>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>{{ 'GENERAL.COMPANY' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="name" required minlength="3">
									<div *ngIf="name.invalid && (name.dirty || name.touched)"
											class="alert alert-danger">
										<div *ngIf="name.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
										<div *ngIf="name.errors.minlength">
											{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.PHONE' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="phone">
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.EMAIL' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="email">
									<div *ngIf="email.invalid && (email.dirty || email.touched)"
											class="alert alert-danger">
										<div *ngIf="email.errors.email">
											{{ 'AUTH.VALIDATION.INVALID_EMAIL' | translate }}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>{{ 'SUPPLIER.EDIT.HOMEPAGE' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="homepage">
								</div>
								<div class="form-group">
									<label>{{ 'SUPPLIER.EDIT.VAT' | translate }}</label><br/>
									<input type="text" class="form-control" formControlName="uid" required>
									<div *ngIf="uid.invalid && (uid.dirty || uid.touched)"
											class="alert alert-danger">
										<div *ngIf="uid.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<mat-checkbox formControlName="fsc" labelPosition="after">{{ 'SUPPLIER.FSC' | translate }}</mat-checkbox>
										</div>
									</div>
									<div class="col-xl-3">
										<div class="form-group">
											<mat-checkbox formControlName="pefc" labelPosition="after">{{ 'SUPPLIER.PEFC' | translate }}</mat-checkbox>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">{{ 'SUPPLIER.EDIT.LOCATION_DESC' | translate }}</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>{{ 'GENERAL.ADDRESS1' | translate }}</label>
									<input type="text" class="form-control" formControlName="address1" required>
									<div *ngIf="address1.invalid && (address1.dirty || address1.touched)"
											class="alert alert-danger">
										<div *ngIf="address1.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie die Adresszeile 1 an.</span>-->
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.ADDRESS2' | translate }}</label>
									<input type="text" class="form-control" formControlName="address2">
									<!--<span class="form-text text-muted">Bitte geben Sie die Adresszeile 2 an.</span>-->
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>{{ 'GENERAL.POSTCODE' | translate }}</label>
											<input type="text" class="form-control" formControlName="postcode" required>
											<div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)"
													class="alert alert-danger">
												<div *ngIf="postcode.errors">
													{{ 'GENERAL.POSTCODE' | translate }}
												</div>
											</div>
											<!--<span class="form-text text-muted">PLZ</span>-->
										</div>
									</div>
									<div class="col-xl-9">
										<div class="form-group">
											<label>{{ 'GENERAL.CITY' | translate }}</label>
											<input type="text" class="form-control" formControlName="city" required>
											<div *ngIf="city.invalid && (city.dirty || city.touched)"
													class="alert alert-danger">
												<div *ngIf="city.errors.required">
													{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
												</div>
											</div>
											<!--<span class="form-text text-muted">Bitte geben Sie den Ort.</span>-->
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>{{ 'GENERAL.COUNTRY' | translate }}</label>
									<select class="form-control" formControlName="country" required>
										<option *ngFor="let country of countries" value="{{country.code}}">{{country.country}}</option>
									</select>
									<div *ngIf="country.invalid && (country.dirty || country.touched)"
											class="alert alert-danger">
										<div *ngIf="country.errors.required">
											{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md" *ngIf="supplier && supplier.supplierNumber!=0; else supplierNumberDoesntExist">
							{{ 'NEW.FINISH' | translate }}, {{ 'SUPPLIER.EDIT.SUPPLIER_NR' | translate }}.: {{supplier.supplierNumber}}
						</div>
						<ng-template #supplierNumberDoesntExist>
							<div class="kt-heading kt-heading--md">{{ 'NEW.FINISH' | translate }}</div>
						</ng-template>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__review">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
									{{ formErrorMessage }}
								</kt-alert>

								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										{{ 'SUPPLIER.EDIT.SUPPLIER_INFO' | translate }}
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ 'GENERAL.COMPANY' | translate }}: {{ supplierForm.get('name').value }}<br/>
										{{ 'GENERAL.PHONE' | translate }}: {{ supplierForm.get('phone').value }}<br/>
										{{ 'GENERAL.EMAIL' | translate }}: {{ supplierForm.get('email').value }}<br/>
										{{ 'SUPPLIER.EDIT.HOMEPAGE' | translate }}: {{ supplierForm.get('homepage').value }}<br/>
										{{ 'SUPPLIER.EDIT.VAT' | translate }}: {{ supplierForm.get('uid').value }}<br/>
										{{ 'SUPPLIER.FSC' | translate }}: {{ supplierForm.get('fsc').value }}<br/>
										{{ 'SUPPLIER.PEFC' | translate }}: {{ supplierForm.get('pefc').value }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										{{ 'SUPPLIER.EDIT.LOCATION' | translate }}
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ supplierForm.get('address1').value }}<br/>
										{{ supplierForm.get('address2').value }}<br/>
										{{ supplierForm.get('postcode').value }}, {{ supplierForm.get('city').value }}<br/>
										{{ supplierForm.get('country').value }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 3-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							{{ 'NEW.BACK' | translate }}
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							{{ 'NEW.SAVE' | translate }}
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							{{ 'NEW.NEXT_STEP' | translate }}
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>

		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
