<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
			<div class="kt-grid__item kt-wizard-v2__aside">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v2__nav">
					<div class="kt-wizard-v2__nav-items">
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-globe"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Produktinformationen
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Geben Sie allgemeine Informationen an
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-bus-stop"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Beschreibung
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Beschreiben Sie das Produkt
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-responsive"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Abmessungen
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Geben Sie die Maße an
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-truck"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Produktstandort
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Adresse
									</div>
								</div>
							</div>
						</a>
						<a class="kt-wizard-v2__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v2__nav-body">
								<div class="kt-wizard-v2__nav-icon">
									<i class="flaticon-confetti"></i>
								</div>
								<div class="kt-wizard-v2__nav-label">
									<div class="kt-wizard-v2__nav-label-title">
										Abschluss
									</div>
									<div class="kt-wizard-v2__nav-label-desc">
										Zusammenfassung und Bestellung
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form" id="kt_form" [formGroup]="productForm">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">Geben Sie allgemeine Informationen an</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Titel</label><br/>
									<input type="text" class="form-control" formControlName="title" required minlength="3">
									<div *ngIf="title.invalid && (title.dirty || title.touched)"
											class="alert alert-danger">
										<div *ngIf="title.errors.required">
											Es muss ein Titel eingegeben werden.
										</div>
										<div *ngIf="title.errors.minlength">
											Titel muss zumindest 3 Zeichen lang sein.
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie den Titel an.</span>-->
								</div>
								<div class="form-group">
									<label>Kategorie</label>
									<select class="form-control" formControlName="category" required>
										<option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</option>
									</select>
									<div *ngIf="category.invalid && (category.dirty || category.touched)"
											class="alert alert-danger">
										<div *ngIf="category.errors.required">
											Es muss eine Kategorie ausgewählt werden.
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Untergruppe</label>
									<input type="text" class="form-control" formControlName="subcategory">
									<!--<span class="form-text text-muted">Bitte geben Sie die Untergruppe an.</span>-->
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Beschreiben Sie das Produkt</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Beschreibung</label>
									<input type="text" class="form-control" formControlName="description" required minlength="3">
									<div *ngIf="description.invalid && (description.dirty || description.touched)"
											class="alert alert-danger">
										<div *ngIf="description.errors.required">
											Es muss eine Beschreibung eingegeben werden.
										</div>
										<div *ngIf="description.errors.minlength">
											Beschreibung muss zumindest 3 Zeichen lang sein.
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie eine Beschreibung an.</span>-->
								</div>
								<div class="form-group">
									<label>Bilder</label>
									<rw-uploader [pictures]="product.pictures" *ngIf="product"></rw-uploader>
									<!--<input type="text" class="form-control" name="picture" [(ngModel)]="product.picture">
									<span class="form-text text-muted">Bitte fügen Sie Produktbilder ein.</span>-->
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 2-->

					<!--begin: Form Wizard Step 3-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Geben Sie die Abmessungen an</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Länge (in mm)</label>
									<input type="text" class="form-control" formControlName="length" required>
									<div *ngIf="length.invalid && (length.dirty || length.touched)"
											class="alert alert-danger">
										<div *ngIf="length.errors.required">
											Es muss die Länge eingegeben werden.
										</div>
									</div>
									<span class="form-text text-muted">Bitte geben Sie die Länge (in mm) an.</span>
								</div>
								<div class="form-group">
									<label>Breite (in mm)</label>
									<input type="text" class="form-control" formControlName="width" required>
									<div *ngIf="width.invalid && (width.dirty || width.touched)"
											class="alert alert-danger">
										<div *ngIf="width.errors.required">
											Es muss die Breite eingegeben werden.
										</div>
									</div>
									<span class="form-text text-muted">Bitte geben Sie die Breite (in mm) an.</span>
								</div>
								<div class="form-group">
									<label>Stärke (in mm)</label>
									<input type="text" class="form-control" formControlName="height" required>
									<div *ngIf="height.invalid && (height.dirty || height.touched)"
											class="alert alert-danger">
										<div *ngIf="height.errors.required">
											Es müssen die Stärke eingegeben werden.
										</div>
									</div>
									<span class="form-text text-muted">Bitte geben Sie die Stärke (in mm) an.</span>
								</div>
								<div class="form-group">
									<label>Volumen/Stück (in m³)</label>
									{{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value / 1000000000  | number:'1.4-4'}}
								</div>
								<div class="form-group">
									<label>Stückzahl (in m³)</label>
									<input type="text" class="form-control" formControlName="quantity" required>
									<div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
											class="alert alert-danger">
										<div *ngIf="quantity.errors.required">
											Es muss die Stückzahl eingegeben werden.
										</div>
									</div>
									<span class="form-text text-muted">Bitte geben Sie die Stückzahl (in m³) an.</span>
								</div>
								<div class="form-group">
									<label>Gesamtvolumen (in m³)</label>
									{{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value * productForm.get('quantity').value / 1000000000  | number:'1.2-2'}}
								</div>
								<div class="form-group">
									<label>Preis pro m³ in €</label>
									<input type="number" class="form-control" formControlName="price" required>
									<div *ngIf="price.invalid && (price.dirty || price.touched)"
											class="alert alert-danger">
										<div *ngIf="price.errors.required">
											Es muss ein Preis eingegeben werden.
										</div>
									</div>
									<span class="form-text text-muted">Bitte geben Sie den Preis pro m³ an.</span>
								</div>
								<div class="form-group">
									<label>Gesamtpreis</label>
									{{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value * productForm.get('quantity').value * productForm.get('price').value / 1000000000  | currency:'EUR'}}
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 3-->

					<!--begin: Form Wizard Step 4-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Adresse des Produkts</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__form">
								<div class="form-group">
									<label>Adresszeile 1</label>
									<input type="text" class="form-control" formControlName="address1" required>
									<div *ngIf="address1.invalid && (address1.dirty || address1.touched)"
											class="alert alert-danger">
										<div *ngIf="address1.errors.required">
											Es muss eine Adresse eingegeben werden.
										</div>
									</div>
									<!--<span class="form-text text-muted">Bitte geben Sie die Adresszeile 1 an.</span>-->
								</div>
								<div class="form-group">
									<label>Adresszeile 2</label>
									<input type="text" class="form-control" formControlName="address2">
									<!--<span class="form-text text-muted">Bitte geben Sie die Adresszeile 2 an.</span>-->
								</div>
								<div class="row">
									<div class="col-xl-3">
										<div class="form-group">
											<label>PLZ</label>
											<input type="text" class="form-control" formControlName="postcode" required>
											<div *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)"
													class="alert alert-danger">
												<div *ngIf="postcode.errors">
													PLZ
												</div>
											</div>
											<!--<span class="form-text text-muted">PLZ</span>-->
										</div>
									</div>
									<div class="col-xl-9">
										<div class="form-group">
											<label>Ort</label>
											<input type="text" class="form-control" formControlName="city" required>
											<div *ngIf="city.invalid && (city.dirty || city.touched)"
													class="alert alert-danger">
												<div *ngIf="city.errors.required">
													Es muss ein Ort eingegeben werden.
												</div>
											</div>
											<!--<span class="form-text text-muted">Bitte geben Sie den Ort.</span>-->
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Land</label>
									<select class="form-control" formControlName="country" required>
										<option *ngFor="let country of countries" value="{{country.code}}">{{country.country}}</option>
									</select>
									<div *ngIf="country.invalid && (country.dirty || country.touched)"
											class="alert alert-danger">
										<div *ngIf="country.errors.required">
											Es muss ein Land eingegeben werden.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 4-->

					<!--begin: Form Wizard Step 5-->
					<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md">Zusammenfassung und Bestellung</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v2__review">
								<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
									Fehlerhafte Eingabe - Bitte füllen Sie alle Daten korrekt aus!
								</kt-alert>

								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Produktinformationen
									</div>
									<div class="kt-wizard-v2__review-content">
										Titel: {{ productForm.get('title').value }}<br/>
										Kategorie: {{ productForm.get('category').value }}<br/>
										{{ productForm.get('subcategory').value }}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Beschreibung
									</div>
									<div class="kt-wizard-v2__review-content">
										Beschreibung: {{ productForm.get('description').value }}<br/>
										Bilder
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Abmessungen
									</div>
									<div class="kt-wizard-v2__review-content">
										Länge (in mm): {{ productForm.get('length').value }}<br/>
										Breite (in mm): {{ productForm.get('width').value }}<br/>
										Stärke (in mm): {{ productForm.get('height').value }}<br/>
										Volumen/Stück (in m³): {{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value / 1000000000  | number:'1.2-2'}}<br/>
										Stückzahl (in m³): {{ productForm.get('quantity').value }}<br/>
										Gesamtvolumen (in m³): {{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value * productForm.get('quantity').value / 1000000000  | number:'1.2-2'}}<br/>
										Preis (pro m³): {{ productForm.get('price').value | currency:'EUR' }}<br/>
										Gesamtpreis: {{ productForm.get('length').value * productForm.get('width').value * productForm.get('height').value * productForm.get('quantity').value * productForm.get('price').value / 1000000000  | number:'1.2-2'}}
									</div>
								</div>
								<div class="kt-wizard-v2__review-item">
									<div class="kt-wizard-v2__review-title">
										Adresse
									</div>
									<div class="kt-wizard-v2__review-content">
										{{ productForm.get('address1').value }}<br/>
										{{ productForm.get('address2').value }}<br/>
										{{ productForm.get('postcode').value }}, {{ productForm.get('city').value }}<br/>
										{{ productForm.get('country').value }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 5-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							Zurück
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Speichern
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							Nächster Schritt
						</div>
					</div>
					<!--
					<div class="kt-form__actions">
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Speichern
						</div>
						<div (click)="onSubmitAndNew()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Speichern & Neues Produkt
						</div>
					</div>
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							Zurück
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							Nächster Schritt
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
