<div class="row">
	<div class="col-xl-4">
		<rw-category-item title="Spanplatte"></rw-category-item>
	</div>
	<div class="col-xl-4">
		<rw-category-item title="OSB"></rw-category-item>
	</div>
	<div class="col-xl-4">
		<rw-category-item title="MDF"></rw-category-item>
	</div>
	<div class="col-xl-4">
		<rw-category-item title="HDF"></rw-category-item>
	</div>
	<div class="col-xl-4">
		<rw-category-item title="Sperrholz"></rw-category-item>
	</div>
	<div class="col-xl-4">
		<rw-category-item title="Tischlerplatte"></rw-category-item>
	</div>
</div>
