<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-color: #024731;">
			<div class="kt-grid__item">
				<a href="javascript:;" class="kt-login__logo">
					<img src="./assets/media/logos/rewood_key_logo_claim_lightgreenwhite_background_cmyk.png" alt="" height="154" width="255">
				</a>
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
				<div class="kt-grid__item kt-grid__item--middle">
					<h3 class="kt-login__title">Welcome to REWOOD!</h3>
					<h4 class="kt-login__subtitle">Rewood ist der virtuelle Marktplatz für Holz-Produkte in Top-Qualität von unterschiedlichen, namhaften Produzenten, welche sich von Standard-Holz-Erzeugnissen nur durch geringfügige Abweichungen unterscheiden.</h4>
				</div>
			</div>
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<div class="kt-login__copyright">
						© {{today|date:'yyyy'}} rewood
					</div>
					<div class="kt-login__menu">
						<a href="/general/about" class="kt-footer__menu-link kt-link">About</a>
						<a href="/general/team" class="kt-footer__menu-link kt-link">Team</a>
						<a href="/general/contact" class="kt-footer__menu-link kt-link">Contact</a>
					</div>
				</div>
			</div>
		</div>
		<!--begin::Aside-->

		<!--begin::Content-->
		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<router-outlet></router-outlet>
		</div>
		<!--end::Content-->
	</div>
</div>
