<kt-portlet-body>
	<div class="kt-section">
		<span class="kt-section__info">Produkte suchen</span>
		<form
			class="kt-form kt-form--fit kt-margin-b-10"
			[formGroup]="searchForm"
			(ngSubmit)="searchProducts()"
			>

			<div class="row kt-margin-b-10">
				<div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
					<label>Titel:</label>
					<input type="text" class="form-control kt-input" placeholder="E.g: Pfosten" formControlName="title">
				</div>
				<div class="col-lg-2 kt-margin-b-10-tablet-and-mobile">
					<label>Gruppe:</label>
					<select class="form-control kt-input" placeholder="E.g: Spanplatte" formControlName="category">
						<option>Spanplatte</option>
						<option>OSB</option>
						<option>MDF</option>
						<option>HDF</option>
						<option>Sperrholz</option>
						<option>Tischlerplatte</option>
					</select>
				</div>
				<div class="col-lg-2 kt-margin-b-10-tablet-and-mobile">
					<label>Preis von:</label>
					<input type="text" class="form-control kt-input kt-align-right" placeholder="E.g: 10.000 €" formControlName="price_from">
				</div>
				<div class="col-lg-2 kt-margin-b-10-tablet-and-mobile">
					<label>bis:</label>
					<input type="text" class="form-control kt-input kt-align-right" placeholder="E.g: 50.000 €" formControlName="price_to">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
					<button class="btn btn-primary btn-brand--icon" id="product_search" (click)="searchProducts()">
						<span>
							<i class="la la-search"></i>
							<span>Search</span>
						</span>
					</button>
					&nbsp;&nbsp;
					<button class="btn btn-secondary btn-secondary--icon" id="product_reset" (click)="resetSearchForm()">
						<span>
							<i class="la la-close"></i>
							<span>Reset</span>
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</kt-portlet-body>
